<!DOCTYPE html>
<html>
<head>
	<title>VueStudy</title>
	<meta charset="utf-8">
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<div v-for="item in items" :key="item.id">
			{{ item.name }} 's price = {{ item.price }} 
			<p>{{ item.message }}</p>
			<hr>
		</div>
		<label>what item you want to see?</label>
		<input v-model="text">
		<button v-on:click="tryFilter">tryFilter</button>
	</div>
	<script>
		var vm = new Vue({
			el : "#app",
			data : {
				items : [
					{ id : 0, name : "computer", price : 120, message : "Good" },
					{ id : 1, name : "notebook", price : 140, message : "Foo" },
					{ id : 2, name : "stove", price : 40, message : "Nice" },
				],
				text : ""
			},
			methods : {
				tryFilter : function() {
					vm.items = vm.items.filter( function (item) {
						var text = vm.text;
    					return item.message.match(text)
					})
				}
			}
		});
		
	</script>
</body>
</html>