<!DOCTYPE html>
<html>
<head>
	<title>VueStudy</title>
	<meta charset="utf-8">
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<ul id="example-2">
		<li v-for="(item, index) in items">
			{{ parentMessage }} - {{ index }} - {{ item.message }}
		</li>
		<hr>
		<div v-for="item of items">
				{{ parentMessage }} - {{ item.message }}
		</div>
		<!--
			You can also use of as the delimiter instead of in, so that it is closer to JavaScript’s syntax for iterators
		-->
	</ul>
	<script>
		var vm = new Vue({
			el : "#example-2",
			data : {
				parentMessage : "Paraent",
				items : [
					{ message : "Foo" },
					{ message : "Bar" }
				]
			}
		});
	</script>
</body>
</html>