<!DOCTYPE html>
<html>
<head>
	<title>VueStudy</title>
	<meta charset="utf-8">
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p>{{ newTodoText }}</p>
		<input v-model="newTodoText">

		<hr>

		<p>{{ visitCount }}</p>
		<button v-on:click="countPlus">Add</button>

		<hr>

		<button v-on:click="changeHide">{{ sh }}</button>
		<p v-if="hideCompletedTodos">Hello</p>
		
		<hr>

		<button v-on:click="pushTodos">Push Todo</button>
		<ol>
			<li v-for="todo in todos">{{ todo.text }}</li>
		</ol>

		<hr>
		<span>{{ error }}</span>
	</div>
	<script>
	var vm = new Vue({
		el : "#app",
		data: {
			newTodoText: "Todo : ",
			visitCount: 0,
			hideCompletedTodos: false,
			todos: [],
			error: null,
			sh : "show"
		},
		methods : {
			countPlus : function() {
				vm.visitCount += 1;
			},
			changeHide : function() {
				if( vm.hideCompletedTodos == false ){
					vm.hideCompletedTodos = true;
					vm.sh = "hide"
				} else if ( vm.hideCompletedTodos = true ) {
					vm.hideCompletedTodos = false;
					vm.sh = "show"
				}
			},
			pushTodos : function() {
				vm.todos.push({ text : vm.newTodoText })
				if(vm.todos.length > 9){
					vm.error = "You have a lot of things to do over your brain!";
					Object.freeze(vm.todos);
				}
			}
		}
	});
	
	</script>
	<!-- app4.todos.push({ text: 'New item' }) -->
</body>
</html>